[class*="zocial-"]:before {
  color: blue;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
  font-size: 30px;
}

#social {
  margin-top: 10px;
  margin-bottom: 10px;
}



.image1 {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.image2 {
  width: 1140px;
  height: 350px;
}

.image3 {
  width: 100%;
  height: 300px;
}

hr {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #BCBBBB; /* old IE */
    background-color: #BCBBBB; /* Modern Browsers */
}

* {
  font-family: 'Lato', sans-serif;
  color: #747704;
  font-weight: 300;
}

h1 {
  font-weight: 100;
  font-size: 60px;
  color: #BCBBBB;
}

.featuredcolor {
  color: #BCBBBB;
  font-weight: normal;
}
